.*
~*

node_modules/

ehthumbs.db
Thumbs.db

*.sublime-project
*.sublime-workspace
*.komodoproject

*.log
*.sql
*.sqlite

*.com
*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

!.gitignore
!.editorconfig
!.phpcs.xml.dist
!README.md
!CHANGELOG.md
!composer.json

!android-chrome-*.png
!apple-touch-icon*.png
!browserconfig.xml
!favicon*.png
!favicon*.ico
!manifest.json
!mstile-*.png
!safari-pinned-tab.svg
!site.webmanifest


app/public/wp-content/themes/*
app/public/wp-content/ai1wm-backups
app/public/wp-content/uploads/*
!app/public/wp-content/themes/softsolutions
