@import "./colors";

.site-footer {
  display: flex;
  justify-content: center;
  background-color: $gray;
  padding: 20px;
  color: $light;
}

.container {
  max-width: 1250px;
  margin: 4rem auto;

  .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      color: $orange;
    }
  }
  .sub {
    width: 75%;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    margin: 12px auto;
  }
  .button-wrapper {
    margin: 40px 0;
    display: flex;
    justify-content: center;

    .button {
      font-size: 16px;
      outline: none;
      border: none;
      background-color: $orange;
      padding: 10px 25px;
      border-radius: 25px;
      margin: 0;
      color: #fff;
      cursor: pointer;
      transition: 0.2s;
    }
  }
}
