@import "./colors";

.header,
.header-default {
  color: $light;

  &__body {
    background-image: url("../assets/cover.png");
    background-repeat: no-repeat;
    height: 400px;
    background-size: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
    padding: 40px;
  }

  .top-header {
    display: flex;
    justify-content: space-between;

    &__default {
      padding: 20px;
      background-color: transparent;
      position: fixed;
      z-index: 100;
      width: 100%;
      box-sizing: border-box;
      transition: background-color 0.3s linear;
    }

    &--scrolled-background {
      background-color: $primary;
    }

    .title {
      font-weight: 600;
      font-size: 22px;
      span {
        all: unset;
        margin: 0;
      }
    }
  }

  .body-header {
    width: 40%;
    margin-top: 100px;
    .title {
      font-size: 38px;
      font-weight: 800;
    }
    .description {
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.menu-main-menu-container {
  > ul {
    display: flex !important;
    > li {
      list-style: none;
      a {
        text-decoration: none;
        color: $light;
        margin: 0 10px;
        font-weight: 600;
        &:hover {
          text-decoration: underline;
          color: $light;
        }
      }
    }
  }
}
