@import "./_colors.scss";
@import "./breakpoints.scss";

.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;

  .project-post {
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba($secondary, 0.1);
    &:hover {
      box-shadow: 0 0 20px 0 rgba($secondary, 0.2);
    }
    @include xs {
      width: 90%;
    }
    @include sm {
      width: 90%;
    }
    @include md {
      width: 40%;
    }
    @include lg {
      width: 30%;
    }
    @include xl {
      width: 30%;
    }
    a {
      text-decoration: none;
    }

    .thumbnail {
      width: 100% !important;
      img {
        width: 100% !important;
        height: 200px !important;
        border-radius: 10px 10px 0 0;
      }
    }

    .project-content {
      padding: 0px 15px 10px 10px !important;
      color: #414d5b !important;

      > h1 {
        margin: 15px 0;
      }
      .direction-icon {
        text-align: right;
        margin-top: 20px;
      }
      .content-description {
        display: -webkit-box;
        max-width: 100%;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 4;

        .company {
          font-size: 18px;
          font-weight: 500;
          color: $text-main;
          margin: 5px 0;
          color: $secondary;
        }
      }
    }
  }
}
