@import "./_colors.scss";

.services {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px;
  .service-post {
    width: 27%;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba($secondary, 0.1);
    padding: 30px 20px;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 20px 0 rgba($secondary, 0.2);
    }

    a {
      text-decoration: none;
    }

    .entry-header {
      h1 {
        line-height: 1.15;
        color: $text-main;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
      }
      .thumbnail {
        img {
          width: 50px;
          height: 36px;
        }
      }
    }
    .entry-content {
      .content-description {
        color: $text-light;
        font-weight: 400;
      }

      .direction-icon {
        text-align: right;
      }
    }
    &:nth-child(3n + 1) {
      .arrow-icon {
        fill: $primary;
      }
    }
    &:nth-child(3n + 2) {
      .arrow-icon {
        fill: $secondary;
      }
    }
    &:nth-child(3n + 3) {
      .arrow-icon {
        fill: $orange;
      }
    }
  }
}
